
<html>
<head>
	<title> CRUD App </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
	<style>
		body
		{
			background-color:#9932CC;
		}
	#guyt
		{
			font-size:2em;
		}
	#guy
		{
			font-size:1.5em;
		}
		
	</style>
</head>
<body>