<%- include("partials/header") %>
<h1>
	<b> Sign up</b>
</h1>
<form action="/signup" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1" id="guyt">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1"id="guyt">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1"name="password">
  </div>
  <button type="submit" class="btn btn-primary"id="guy">Submit</button>
</form>



<%- include("partials/footer") %>